node_modules
.pnpm-store
.next
out
.vercel
node-compile-cache

.env*
!.env.template
!.env.example

public/robots.txt
public/sitemap*.xml
.sitemap-excludes.json
.sitemap-all-pages.json
public/llms*.txt
public/md-src
content/workshop/

.DS_Store
npm-debug.log*
